<%- include('../admin-sidebar.ejs') %>


<%- include('../admin-header.ejs') %>



<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header d-flex justify-content-between">
                      <div>
                        <strong class="card-title">Edit Team</strong>
                      </div>
                  </div>
                  <div class="card-body">
                    <form action="/teamupdate/<%= item._id %>" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="">Upload Images</label>
                          <input type="file" name="image" class="form-control">
                          <img src="<%= item.image.url %>"  style="width: 200px; margin-top: 15px;" class="img-fluid" alt="">
                        </div>
                      <div class="mb-3">
                        <label for="">Name</label>
                        <input type="text" name="name" value="<%= item.name %>" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="">Designation</label>
                        <input type="text" name="designation" value="<%= item.designation %>" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="">Mobile</label>
                        <input type="number" name="mobile" value="<%= item.mobile %>" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="">Email</label>
                        <input type="email" name="email" value="<%= item.email %>" class="form-control">
                      </div>
                      <div class="mb-3">
                        <label for="">About</label>
                        <textarea name="about" class="form-control" id="" cols="30" rows="7"><%= item.about %></textarea>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- .animated -->


</div><!-- .content -->
</div><!-- /#right-panel -->


<%- include('../admin-footer') %>